<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>

<h1>Login</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<div th:if="${error}">
    Login nicht möglich, Benutzername und Passwort kontrollieren.
</div>

<p> Neu hier? Klick
    <a th:href="@{/register}">hier</a> zum registrieren.</p>


<form method="POST" th:action="@{/login}" id="loginForm">

    <label for="username">Benutzername: </label>
    <input type="text" name="username" id="username"/><br/>

    <lable for="password">Passwort:</lable>
    <input type="password" name="password" id="password"/><br/>

    <input type="submit" value="Login"/>
</form>
</body>
</html>