<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

<form method="post" th:action="@{/orders}" th:object="${order}">
    <h1>Bestelle deine Tacokreation!</h1>

    <img th:src="@{/images/TacoCloud.png}"/>
    <a th:href="@{/design}" id="another">Noch einen Taco designen</a><br/>

    <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Bitte alle Felder ausfüllen.
            </span>
    </div>
    <h3>Liefer meinen Taco zu...</h3>
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" placeholder="Name"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"></span>
    <br/>

    <label for="street">Straße: </label>
    <input type="text" th:field="*{street}" placeholder="Straße"/>
    <br/>

    <label for="city">Stadt: </label>
    <input type="text" th:field="*{city}" placeholder="Stadt"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}"></span>
    <br/>

    <label for="state">Bundesland: </label>
    <input type="text" th:field="*{state}" placeholder="Bundesland"/>
    <br/>

    <label for="zip">Postleitzahl: </label>
    <input type="text" th:field="*{zip}" placeholder="Postleitzahl"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('zip')}"
          th:errors="*{zip}"></span>
    <br/>

    <h3>So werde ich bezahlen...</h3>
    <label for="ccNumber">Kreditkartennummer: </label>
    <input type="text" th:field="*{ccNumber}" placeholder="Kreditkartennummer"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccNumber')}"
          th:errors="*{ccNumber}">CC Num Error</span>
    <br/>

    <label for="ccExpiration">Ablaufdatum: </label>
    <input type="text" th:field="*{ccExpiration}" placeholder="MM/YY"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccExpiration')}"
          th:errors="*{ccExpiration}">Diese Nachricht steht im orderForm.html im Label ccExpiration</span>
    <br/>

    <label for="ccCVV">CVV: </label>
    <input type="text" th:field="*{ccCVV}" placeholder="123"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}"></span>
    <br/>

    <input type="submit" value="Bestellen"/>
</form>

</body>
</html>