<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/TacoCloud.png}"/>

<form method="POST" th:action="@{/register}" id="registerForm">

    <label for="username">Benutzername: </label>
    <input type="text" name="username"/><br/>

    <label for="password">Passwort: </label>
    <input type="password" name="password"/><br/>

    <label for="confirm">Passwort bestätigen: </label>
    <input type="password" name="confirm"/><br/>

    <label for="fullname">Vor- und Nachname: </label>
    <input type="text" name="fullname"/><br/>

    <label for="street">Straße: </label>
    <input type="text" name="street"/><br/>

    <label for="city">Stadt: </label>
    <input type="text" name="city"/><br/>

    <label for="state">Bundesland: </label>
    <input type="text" name="state"/><br/>

    <label for="zip">Postleitzahl: </label>
    <input type="text" name="zip"/><br/>

    <label for="phone">Telefon: </label>
    <input type="text" name="phone"/><br/>

    <input type="submit" value="Registrieren"/>
</form>

</body>
</html>